<!DOCTYPE html>
<html>
<!-- 
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
 -->
<head>
	<!-- <style>
			body{
				background-color:linen;
			}
			h1{
				color:red;
			}
	</style> -->
	<title>
		hellomain
	</title>

</head>
<body>
<!-- 
<center>

<div ng-app="myApp" ng-controller="myCtrl">

First Name: <input type="text" ng-model="firstName"><br><br>
Last Name: <input type="text" ng-model="lastName"><br>
<br>
Full Name: {{firstName + " " + lastName}}

</div>

</center>

<script>

var app=angular.module('myApp',[]);

app.controller('myCtrl',function($scope)
{
	if($scope.firstname === $scope.lastname){
$scope.firstname="password";
$scope.lastname="matched";
	}
	else{
		$scope.firstname="password";
$scope.lastname="not matched";
	}
}

);


//document.write("Hello world\n<br>");
//var f=function(a,b){
//	if(a==b){
//		return "equal";
//	}
//	else{
//		document.write("not equal")
//		return f(a-1,b);
//	}
//};
//document.write(f(4,3)); 

</script> -->

<center>
	<form action="https://www.linkedin.com/in/bangale-sampath-kumar-rao-392354196">
	<input placeholder="enter a email" type="number"><br>
	<input placeholder="enter password"><br>
	<button >submit</button>
	</form>
</center>
</body>

</html>
